.btn, .btn--cancelar, .btn--aceptar {
  width: 50px;
  height: 50px;
  background-color: blue;
  color: aliceblue;
  border: 2px solid black;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}

.contact-iconos {
  width: 70px;
  height: 80px;
}

.Porfo {
  background-color: darkgray;
  width: 300px;
  height: 125px;
  margin: 50px;
  padding: 50px;
}

.btn--aceptar {
  background-color: green;
}

.btn--cancelar {
  background-color: rgb(196, 75, 5);
}

.section {
  color: orange;
}

.titulo {
  color: red;
}

.parrafo {
  color: green;
}

.medida {
  color: 100px;
}

main {
  margin: 0;
  padding: 5px;
}
main section article h1 {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
main section article p {
  line-height: 10px;
  font-size: 1.5rem;
}
main aside {
  background-color: rgba(68, 66, 66, 0.925);
}
main aside p {
  font-size: 3rem;
}

#indexMain {
  background-image: url(https://josecarlosalmansa.com/img/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg);
  height: 98vh;
  width: 100vw;
  grid-area: indexMain;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "indexMainUno indexMainUno indexMainUno" "indexMainUno indexMainUno indexMainUno" "indexMainUno indexMainUno indexMainUno";
}
#indexMain #indexMainUno {
  grid-area: indexMainUno;
  justify-self: center;
  align-content: center;
  text-align: center;
  background-position: center bottom;
  background-position: left;
  padding: 200px;
}
#indexMain #indexMainUno #indexImg {
  height: 300px;
}
#indexMain #indexMainDos {
  grid-area: indexMainDos;
}

#skillsMain {
  grid-area: skillsMain;
  height: 72.6vh;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1.2fr;
  grid-template-rows: 3fr 0.2fr;
  grid-template-areas: "skillsMainUno skillsMainDos skillsMainTres" "skillsMainUno skillsMainDos skillsMainTres";
}
#skillsMain #skillsMainUno {
  grid-area: skillsMainUno;
  padding: 30px;
}
#skillsMain #skillsMainUno #programador {
  padding: 50px;
  margin: 10px;
  height: 500px;
  width: 450px;
  background-color: #636363;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
}
#skillsMain #skillsMainDos {
  grid-area: skillsMainDos;
  padding: 10px;
}
#skillsMain #skillsMainDos #unic {
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  color: antiquewhite;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  margin-top: 8px;
}
#skillsMain #skillsMainDos #unic ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
#skillsMain #skillsMainDos #skillsCertificacion {
  background-color: #636363;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding: 9px;
}
#skillsMain #skillsMainDos #skillsIcono {
  display: flex;
  gap: 20px;
}
#skillsMain #skillsMainDos #skillsIcono #coder {
  color: #e5f876;
}
#skillsMain #skillsMainTres {
  grid-area: skillsMainTres;
  padding: 20px;
  margin-top: 30px;
  background-color: #636363;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding-left: 45px;
  margin-top: 110px;
}
#skillsMain #skillsMainTres .imgSkills {
  width: 85px;
  height: 85px;
}

#serviciosMain {
  grid-area: serviciosMain;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas: "serviciosMainUno serviciosMainDos" "serviciosMainTres serviciosMainCuatro " "serviciosMainCinco serviciosMainCinco";
}
#serviciosMain .serviciosIconos {
  display: flex;
  background-color: rgba(128, 128, 128, 0.925);
  height: fit-content;
  border-radius: 20px;
  width: fit-content;
  padding: 5px;
  padding-right: 10px;
}
#serviciosMain .contact-iconos {
  width: 70px;
  height: 80px;
}
#serviciosMain .serviciosTexto {
  background-color: rgba(68, 66, 66, 0.925);
  border-radius: 20px;
  padding: 5px;
}
#serviciosMain #serviciosMainUno {
  grid-area: serviciosMainUno;
  padding: 10px;
  margin: 50px;
}
#serviciosMain #serviciosMainDos {
  grid-area: serviciosMainDos;
  padding: 10px;
  padding-top: 130px;
  margin: 50px;
}
#serviciosMain #serviciosMainTres {
  grid-area: serviciosMainTres;
  padding: 10px;
  margin: 50px;
}
#serviciosMain #serviciosMainCuatro {
  grid-area: serviciosMainCuatro;
  padding: 10px;
  margin: 50px;
}
#serviciosMain #serviciosMainCinco {
  grid-area: serviciosMainCinco;
  padding: 10px;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 5px;
  justify-self: center;
}
#serviciosMain #serviciosMainCinco .imgClientes {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  padding: 5px;
}

#porfolioMain {
  grid-area: porfolioMain;
  height: 72.6vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "porfolioMainUno porfolioMainUno porfolioMainUno" "porfolioMainDos porfolioMainDos porfolioMainDos";
}
#porfolioMain #porfolioMainUno {
  grid-area: porfolioMainUno;
  range: auto;
  background-color: #636363;
  border-radius: 20px;
  padding-bottom: 40px;
  padding-top: 60px;
}
#porfolioMain #porfolioMainUno .contenedor_proyecto {
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#porfolioMain #porfolioMainUno #unic {
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: antiquewhite;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}
#porfolioMain #porfolioMainUno #unic ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
#porfolioMain #porfolioMainDos {
  grid-area: porfolioMainDos;
}

#ContactMain {
  grid-area: contactMain;
  height: 72.6vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 2.3fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "contactMainUno contactMainDos contactMainTres" "contactMainUno contactMainDos contactMainTres";
}
#ContactMain #contactMainUno {
  grid-area: contactMainUno;
  margin: 10px;
  justify-self: center;
  align-self: center;
  padding: 10px;
  background-color: #636363;
  height: fit-content;
  border-radius: 20px;
  width: fit-content;
  margin: 140px;
}
#ContactMain #contactMainUno #contactBorde {
  border: 5px solid black;
  width: fit-content;
  padding: 8px;
}
#ContactMain #contactMainDos {
  grid-area: contactMainDos;
  justify-self: center;
  align-self: center;
  padding: 10px;
  background-color: #636363;
  height: fit-content;
  border-radius: 20px;
  width: fit-content;
  margin: 140px;
}
#ContactMain #contactMainDos .contactInfo {
  margin: 0;
}
#ContactMain #contactMainTres {
  grid-area: contactMainTres;
  justify-self: end;
  padding: 20px;
  align-self: center;
  display: flex;
  background-color: #636363;
  height: fit-content;
  border-radius: 20px;
  width: fit-content;
  margin: 30px;
}

footer {
  display: grid;
  background-color: rgba(68, 66, 66, 0.925);
  height: 200px;
  width: 100vw;
  padding-top: 30px;
  bottom: 0;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas: "footerUno footerDos footerTres" "footerCuatro footerCuatro footerCuatro";
}
footer #footerUno {
  grid-area: footerUno;
  justify-self: right;
  align-self: center;
  padding: 5px;
}
footer #footerDos {
  grid-area: footerDos;
  justify-self: center;
  align-self: center;
  padding: 5px;
}
footer #footerTres {
  grid-area: footerTres;
  justify-self: left;
  align-self: center;
  padding: 5px;
}
footer #footerCuatro {
  grid-area: footerCuatro;
  align-self: center;
  justify-self: center;
  padding: 5px;
}

#indexFooter {
  grid-area: indexFooter;
  display: grid;
  height: 250px;
}

#skillsFooter {
  grid-area: skillsFooter;
}

#serviciosFooter {
  grid-area: serviciosFooter;
}

#porfolioFooter {
  grid-area: porfolioFooter;
}

#contactFooter {
  grid-area: contactFooter;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: rgba(128, 128, 128, 0.925);
  height: 100vh;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}
body a {
  text-decoration: none;
  color: black;
}
body nav a {
  font-weight: 600px;
  padding-right: 10px;
  font-size: 23px;
  text-decoration: underline;
}
body nav a:hover {
  color: aliceblue;
}
body a {
  text-decoration: none;
  color: black;
}

#indexBody {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0, 5fr 3fr 0, 7fr;
  grid-template-areas: "indexHeader indexHeader indexHeader" "indexMain indexMain indexMain" "indexFooter indexFooter indexFooter";
}

#skillsBody {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.7fr;
  grid-template-areas: "skillsHeader skillsHeader skillsHeader" "skillsMain skillsMain skillsMain" "skillsFooter skillsFooter skillsFooter";
}

#serviciosBody {
  display: grid;
  width: 98vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 0, 7fr;
  grid-template-areas: "serviciosHeader serviciosHeader" "serviciosMain serviciosMain" "serviciosFooter serviciosFooter";
}

#porfolioBody {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.7fr;
  grid-template-areas: "porfolioHeader porfolioHeader porfolioHeader" "porfolioMain porfolioMain porfolioMain" "porfolioFooter porfolioFooter porfolioFooter";
}

#contactBody {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.7fr;
  grid-template-areas: "contactHeader contactHeader contactHeader" "contactMain contactMain contactMain" "contactFooter contactFooter contactFooter";
}

#headerServicios {
  margin: 0;
  padding: 7px;
  background-color: rgba(128, 128, 128, 0.925);
}
#headerServicios nav {
  width: 100px;
}
#headerServicios nav ul {
  list-style-type: none;
  text-align: center;
  color: rgba(128, 128, 128, 0.925);
}
#headerServicios nav ul li {
  list-style-type: none;
}
#headerServicios nav ul li:hover {
  color: rgba(68, 66, 66, 0.925);
}
#headerServicios nav ul li a {
  text-decoration: none;
}
#headerServicios nav ul li a:hover {
  color: rgba(128, 128, 128, 0.925);
}

header {
  background-color: rgba(68, 66, 66, 0.925);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#indexHeader {
  grid-area: indexHeader;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "indexHeaderUno indexHeaderDos" "indexHeaderUno indexHeaderDos";
  height: 100px;
}
#indexHeader .abrir-menu,
#indexHeader .cerrar-menu {
  display: none;
}
#indexHeader #indexHeaderUno {
  grid-area: indexHeaderUno;
}
#indexHeader #indexHeaderDos {
  grid-area: indexHeaderDos;
  justify-self: end;
  padding: 25px;
}
#indexHeader #indexHeaderDos .nav {
  list-style: none;
}
#indexHeader #indexHeaderDos .nav-list {
  list-style: none;
}

#skillsHeader {
  grid-area: skillsHeader;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "skillsHeaderUno skillsHeaderDos" "skillsHeaderUno skillsHeaderDos";
  height: 100px;
}
#skillsHeader #skillsHeaderUno {
  grid-area: skillsHeaderUno;
}
#skillsHeader #skillsHeaderDos {
  grid-area: skillsHeaderDos;
  justify-self: end;
  padding: 25px;
}

#serviciosHeader {
  grid-area: serviciosHeader;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "serviciosHeaderUno serviciosHeaderDos" "serviciosHeaderUno serviciosHeaderDos";
  height: 100px;
}
#serviciosHeader #serviciosHeaderUno {
  grid-area: serviciosHeaderUno;
}
#serviciosHeader #serviciosHeaderDos {
  grid-area: serviciosHeaderDos;
  justify-self: end;
  padding: 25px;
}

#porfolioHeader {
  grid-area: porfolioHeader;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "porfolioHeaderUno porfolioHeaderDos" "porfolioHeaderUno porfolioHeaderDos";
  height: 100px;
}
#porfolioHeader #porfolioHeaderUno {
  grid-area: porfolioHeaderUno;
}
#porfolioHeader #porfolioHeaderDos {
  grid-area: porfolioHeaderDos;
  justify-self: end;
  padding: 25px;
}

#contactHeader {
  grid-area: contactHeader;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contactHeaderUno contactHeaderDos" "contactHeaderUno contactHeaderDos";
  height: 100px;
}
#contactHeader #contactHeaderUno {
  grid-area: contactHeaderUno;
}
#contactHeader #contactHeaderDos {
  grid-area: contactHeaderDos;
  justify-self: end;
  padding: 25px;
}

@media (min-width: 300px) and (max-width: 576px) {
  #serviciosMain {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "skillsMainDos skillsMainUno ";
  }
  #skillsMain {
    grid-template-columns: 3fr 1, 5fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "skillsMainUno skillsMainDos" "skillsMainUno skillsMainDos";
  }
  footer {
    grid-area: footer;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-areas: "footer footerDos";
  }
}
@media screen and (max-width: 737.98px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: black;
  }
  .cerrar-menu {
    color: rgb(255, 255, 255);
  }
  .nav {
    opacity: 0;
    visibility: hidden;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 66, 66, 0.925);
    padding: 2rem;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
}
@media (min-width: 768px) and (max-width: 914px) {
  #indexImg {
    height: 350px;
  }
  .nombres_index {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 575px) {
  #indexMain {
    background-image: url(https://josecarlosalmansa.com/img/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg);
    height: 98vh;
    width: 100vw;
    grid-area: indexMain;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "indexMainUno" "indexMainUno" "indexMainUno";
  }
  #indexMain #indexMainUno {
    grid-area: indexMainUno;
    justify-self: center;
    align-content: center;
    text-align: center;
    background-position: center bottom;
    background-position: left;
    padding: 100px;
  }
  #indexMain #indexMainUno #indexImg {
    height: 100px;
  }
  #indexMain #indexMainDos {
    grid-area: indexMainDos;
  }
  #skillsMain {
    grid-area: skillsMain;
    height: 72.6vh;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "skillsMainUno " "skillsMainDos" "skillsMainTres ";
  }
  #skillsMain #skillsMainUno {
    grid-area: skillsMainUno;
    padding: 10px;
  }
  #skillsMain #skillsMainUno #programador {
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 150px;
    background-color: #636363;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
  }
  #skillsMain #skillsMainDos {
    grid-area: skillsMainDos;
    padding: 10px;
    font-size: 1rem;
  }
  #skillsMain #skillsMainDos #unic {
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    margin-top: 20px;
  }
  #skillsMain #skillsMainDos #unic ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
  }
  #skillsMain #skillsMainDos #skillsCertificacion {
    display: flex;
    background-color: #636363;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    flex-direction: column;
  }
  #skillsMain #skillsMainDos #skillsIcono {
    gap: 10px;
  }
  #skillsMain #skillsMainTres {
    grid-area: skillsMainTres;
    padding: 10px;
    margin-top: 20px;
    background-color: #636363;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
  }
  #skillsMain #skillsMainTres .imgSkills {
    width: 85px;
    height: 85px;
  }
  #serviciosMain {
    grid-area: serviciosMain;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas: "serviciosMainUno " "serviciosMainDos" "serviciosMainTres " "serviciosMainCuatro " "serviciosMainCinco ";
  }
  #serviciosMain .serviciosIconos {
    display: flex;
    background-color: rgba(128, 128, 128, 0.925);
    height: fit-content;
    border-radius: 20px;
    width: fit-content;
    padding: 2px;
    padding-right: 5px;
  }
  #serviciosMain .contact-iconos {
    width: 30px;
    height: 40px;
  }
  #serviciosMain .serviciosTexto {
    background-color: rgba(68, 66, 66, 0.925);
    border-radius: 10px;
    padding: 2px;
  }
  #serviciosMain #serviciosMainUno {
    grid-area: serviciosMainUno;
    padding: 5px;
    margin: 20px;
  }
  #serviciosMain #serviciosMainDos {
    grid-area: serviciosMainDos;
    padding: 10px;
    padding-top: 70px;
    margin: 20px;
  }
  #serviciosMain #serviciosMainTres {
    grid-area: serviciosMainTres;
    padding: 5px;
    margin: 20px;
  }
  #serviciosMain #serviciosMainCuatro {
    grid-area: serviciosMainCuatro;
    padding: 5px;
    margin: 20px;
  }
  #serviciosMain #serviciosMainCinco {
    grid-area: serviciosMainCinco;
    padding: 5px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px;
    justify-self: center;
  }
  #serviciosMain #serviciosMainCinco .imgClientes {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    padding: 2px;
  }
  #porfolioMain {
    grid-area: porfolioMain;
    height: 72.6vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    grid-template-areas: "porfolioMainUno " "porfolioMainUno" "porfolioMainUno" "porfolioMainDos ";
  }
  #porfolioMain #porfolioMainUno {
    grid-area: porfolioMainUno;
    range: auto;
    background-color: #636363;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  #porfolioMain #porfolioMainUno .contenedor_proyecto {
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #porfolioMain #porfolioMainUno .card {
    border: none;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  #porfolioMain #porfolioMainUno .card-title {
    font-weight: bold;
  }
  #porfolioMain #porfolioMainUno .card-text {
    margin-top: -10px;
  }
  #porfolioMain #porfolioMainUno .card-body {
    margin-top: 5px;
    height: 75px;
    text-align: center;
    justify-content: center;
    color: black;
    border-radius: 2px;
  }
  #porfolioMain #porfolioMainUno #unic {
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
  }
  #porfolioMain #porfolioMainUno #unic ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
  }
  #porfolioMain #porfolioMainDos {
    grid-area: porfolioMainDos;
  }
  #ContactMain {
    grid-area: contactMain;
    height: 72.6vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 2fr;
    grid-template-areas: "contactMainUno" "contactMainDos " "contactMainTres";
  }
  #ContactMain #contactMainUno {
    grid-area: contactMainUno;
    margin: 5px;
  }
  #ContactMain #contactMainUno #contactBorde {
    border: 5px solid black;
    width: fit-content;
    padding: 8px;
  }
  #ContactMain #contactMainDos {
    grid-area: contactMainDos;
    justify-self: center;
    align-self: center;
    padding: 10px;
    background-color: #636363;
    height: fit-content;
    border-radius: 20px;
    width: fit-content;
    margin: 60px;
  }
  #ContactMain #contactMainDos .contactInfo {
    margin: 0;
  }
  #ContactMain #contactMainTres {
    grid-area: contactMainTres;
    justify-self: end;
    padding: 10px;
    align-self: center;
    display: flex;
    background-color: #636363;
    height: fit-content;
    border-radius: 20px;
    width: fit-content;
    margin: 10px;
  }
  footer {
    display: grid;
    background-color: rgba(68, 66, 66, 0.925);
    height: 200px;
    width: 100vw;
    padding-top: 30px;
    bottom: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "footerUno" "footerDos" "footerTres" "footerCuatro";
  }
  footer #footerUno {
    grid-area: footerUno;
    justify-self: right;
    align-self: center;
    padding: 5px;
  }
  footer #footerDos {
    grid-area: footerDos;
    justify-self: center;
    align-self: center;
    padding: 5px;
  }
  footer #footerTres {
    grid-area: footerTres;
    justify-self: left;
    align-self: center;
    padding: 5px;
  }
  footer #footerCuatro {
    grid-area: footerCuatro;
    align-self: center;
    justify-self: center;
    padding: 5px;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=editorEntrega.css.map */
