footer {
    display: grid;
    background-color: $c-secundario;
    height: 200px;
    width: 100vw;
    
    bottom: 0;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas:
     "footerUno footerDos footerTres"
    "footerCuatro footerCuatro footerCuatro";
    
    #footerUno {
        grid-area: footerUno;
        justify-self: right;
        align-self: center;
        padding: 5px;
    }
    
    #footerDos {
        grid-area: footerDos;
        justify-self: center;
        align-self: center;
        padding: 5px;
    }
    
    #footerTres {
        grid-area: footerTres;
        justify-self: left;
        align-self: center;
        padding: 5px;
    }
    
    #footerCuatro {
        grid-area: footerCuatro;
        align-self: center;
        justify-self: center;
        padding: 5px;
    }
}

#indexFooter {
    grid-area: indexFooter;
    display: grid;
    height: 250px;
}


#skillsFooter {
    grid-area: skillsFooter;
   }

#serviciosFooter {
    grid-area: serviciosFooter;
}

#porfolioFooter {
    grid-area: porfolioFooter;
  }

