#headerServicios {
    margin: 0;
    padding: 7px;
    background-color: $c-principal;
    @include nav-header
}

header {
    background-color: rgba(68, 66, 66, 0.925);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#indexHeader {
    grid-area: indexHeader;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "indexHeaderUno indexHeaderDos"
    "indexHeaderUno indexHeaderDos";
    height: 100px;

    .abrir-menu,
    .cerrar-menu {
        display: none;

    }

    #indexHeaderUno {
        grid-area: indexHeaderUno;
    }
    
    #indexHeaderDos {
        grid-area: indexHeaderDos;
        justify-self: end;
        padding: 25px;

        .nav {
            list-style: none;
        }

        .nav-list {
            list-style: none;
            

        }
    
    }
}

#skillsHeader {
    grid-area: skillsHeader;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "skillsHeaderUno skillsHeaderDos"
    "skillsHeaderUno skillsHeaderDos";
    height: 100px;

    #skillsHeaderUno {
        grid-area: skillsHeaderUno;
    
    }

    #skillsHeaderDos {
        grid-area: skillsHeaderDos;
        justify-self: end;
        padding: 25px;
    
    }
}

#serviciosHeader {
    grid-area: serviciosHeader;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "serviciosHeaderUno serviciosHeaderDos"
    "serviciosHeaderUno serviciosHeaderDos";
    height: 100px;

    #serviciosHeaderUno {
        grid-area: serviciosHeaderUno;
    
    }

    #serviciosHeaderDos {
        grid-area: serviciosHeaderDos;
        justify-self: end;
        padding: 25px;
    
    }
}

#porfolioHeader {
    grid-area: porfolioHeader;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "porfolioHeaderUno porfolioHeaderDos" 
    "porfolioHeaderUno porfolioHeaderDos";
    height: 100px;

    #porfolioHeaderUno {
        grid-area: porfolioHeaderUno;
      }

      #porfolioHeaderDos {
        grid-area: porfolioHeaderDos;
        justify-self: end;
        padding: 25px;
      }
  }

  #contactHeader {
    grid-area: contactHeader;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "contactHeaderUno contactHeaderDos" 
    "contactHeaderUno contactHeaderDos";
    height: 100px;

    #contactHeaderUno {
        grid-area: contactHeaderUno;
      }

      #contactHeaderDos {
        grid-area: contactHeaderDos;
        justify-self: end;
        padding: 25px;
      }
  }

