main {
    margin: 0;
    padding: 5px;
    section {
        article {
            h1 {
                font-size: 1rem;
                color: map-get($map: $paleta_colores, $key: dorado);
            }
            p {
                line-height: 10px;
                font-size: $tam-fuente;
            }
        }
    }


    aside {
        background-color: $c-secundario;
        p {
            font-size: 3rem;
        }
    }
}


#indexMain {
    background-image: url(https://josecarlosalmansa.com/img/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg);
    height: 98vh;
    width: 100vw;
    grid-area: indexMain;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "indexMainUno indexMainUno indexMainUno"
    "indexMainUno indexMainUno indexMainUno"
    "indexMainUno indexMainUno indexMainUno";

    #indexMainUno {
        grid-area: indexMainUno;
        justify-self: center;
        align-content: center;
        text-align: center;
        background-position: center bottom;
        background-position: left;
        padding: 200px;

        #indexImg {
            height: 300px;
        }
        
    }

    #indexMainDos {
        grid-area: indexMainDos;
    }
}

#skillsMain {
    grid-area: skillsMain;
    height: 72.6vh;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.2fr;
    grid-template-rows: 3fr 0.2fr;
    grid-template-areas: 
    "skillsMainUno skillsMainDos skillsMainTres"
    "skillsMainUno skillsMainDos skillsMainTres";

    #skillsMainUno {
        grid-area: skillsMainUno;
        padding: 30px;

        #programador {
            padding: 50px;
            margin: 10px;
            height: 500px;
            width: 450px;
            background-color: #636363;
            border-radius: 20px;
            height: fit-content;
            width: fit-content;
        
        }
    }

    #skillsMainDos {
        grid-area: skillsMainDos;
        padding: 10px;

        #unic   {
            background-color: black;
            cursor: pointer;
            border: none;
            padding: 8px 12px;
            color: antiquewhite;
            font-size: 22px;
            font-weight: bold;
            position: relative;
            border-radius: 12px;
            margin-top: 8px;
        }
        
        #unic ::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
            red,blue, deeppink, blue, red,blue, deeppink, blue);
        background-size: 800%;
        border-radius: 10px;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        
        }

        #skillsCertificacion {
            background-color: #636363;
            border-radius: 20px;
            height: fit-content;
            width: fit-content;
            padding: 9px;
        }

        #skillsIcono {

            display: flex;
            gap: 20px;

            #coder {
                color: $paleta_colores-coder;
            }
        }
        
       
    }
    
    #skillsMainTres {
        grid-area: skillsMainTres;
        padding: 20px;
        margin-top: 30px;
        background-color: #636363;
            border-radius: 20px;
            height: fit-content;
            width: fit-content;
            padding-left: 45px;
            margin-top: 110px;

        .imgSkills {
            width: 85px;
            height: 85px;
         }
    }
}

#serviciosMain {
    grid-area: serviciosMain;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "serviciosMainUno serviciosMainDos"
    "serviciosMainTres serviciosMainCuatro "
    "serviciosMainCinco serviciosMainCinco";

    .serviciosIconos {
        display: flex;
        background-color: rgba(128, 128, 128, 0.925);
        height: fit-content;
        border-radius: 20px;
        width: fit-content;
        padding: 5px;
        padding-right: 10px;
    }

    .contact-iconos {
        width: 70px;
        height: 80px;
        
    }

    .serviciosTexto {
        background-color: $c-secundario;
        border-radius: 20px;
        padding: 5px;
    }

    #serviciosMainUno {
        grid-area: serviciosMainUno;
        padding: 10px;
        margin: 50px;
    }
    
    #serviciosMainDos {
        grid-area: serviciosMainDos;
        padding: 10px;
        padding-top: 130px;
        margin: 50px;
    }

    #serviciosMainTres {
        grid-area: serviciosMainTres;
        padding: 10px;
        margin: 50px;

    }

    #serviciosMainCuatro {
        grid-area: serviciosMainCuatro;
        padding: 10px;
        margin: 50px;
    }

    #serviciosMainCinco {
        grid-area: serviciosMainCinco;
        padding: 10px;
        margin: 50px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20px;
       text-align: center;
       margin-top: 3rem;
       margin-bottom: 2rem;
       padding: 5px;
       justify-self: center;
        
        
       

       .imgClientes {
        height: 110px;
        width: 110px;
        border-radius: 20px;
        padding: 5px;
       }
    }


        
}

#porfolioMain {
    grid-area: porfolioMain;
    height: 72.6vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "porfolioMainUno porfolioMainUno porfolioMainUno" 
    "porfolioMainDos porfolioMainDos porfolioMainDos";

    #porfolioMainUno {
        grid-area: porfolioMainUno;
        range: auto;
        background-color: #636363;
            border-radius: 20px;
            padding-bottom: 40px;
            padding-top: 60px;

        .contenedor_proyecto {
            padding-top: 25px;
            padding-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
          }
          
          #unic   {
            background-color: black;
            cursor: pointer;
            border: none;
            padding: 16px 32px;
            color: antiquewhite;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            border-radius: 12px;
        }
        
        #unic ::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
            red,blue, deeppink, blue, red,blue, deeppink, blue);
        background-size: 800%;
        border-radius: 10px;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        
        }
      }

      #porfolioMainDos {
        grid-area: porfolioMainDos;
      }
  }

  #ContactMain {
    grid-area: contactMain;
    height: 72.6vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.3fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "contactMainUno contactMainDos contactMainTres" 
    "contactMainUno contactMainDos contactMainTres";

    #contactMainUno {
        grid-area: contactMainUno;
        margin: 10px;
        justify-self: center;
        align-self: center;
        padding: 10px;
        background-color: #636363;
        height: fit-content;
        border-radius: 20px;
        width: fit-content;
        margin: 140px;

    #contactBorde{
        border: 5px solid black;
    width: fit-content;
    padding: 8px;
    }
      }

      #contactMainDos {
        grid-area: contactMainDos;
        justify-self: center;
        align-self: center;
        padding: 10px;
        background-color: #636363;
        height: fit-content;
        border-radius: 20px;
        width: fit-content;
        margin: 140px;

        .contactInfo {
            margin: 0;
        }
      }

      #contactMainTres {
        grid-area: contactMainTres;
        justify-self: end;
        padding: 20px;
        align-self: center;
        display: flex;
        background-color: #636363;
        height: fit-content;
        border-radius: 20px;
        width: fit-content;
        margin: 30px;
      } 
  }
  