main {
    margin: 0;
    padding: 5px;
    section {
        width: 50%;
        article {
            h1 {
                font-size: 1rem;
                color: map-get($map: $paleta_colores, $key: dorado);
            }
            p {
                line-height: 10px;
                font-size: $tam-fuente;
            }
        }
    }


    aside {
        background-color: $c-secundario;
        p {
            font-size: 3rem;
        }
    }
}


#indexMain {
    background-image: url(https://josecarlosalmansa.com/img/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg);
    height: 98vh;
    width: 100vw;
    grid-area: indexMain;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "indexMainUno indexMainUno indexMainUno"
    "indexMainUno indexMainUno indexMainUno"
    "indexMainUno indexMainUno indexMainUno";

    #indexMainUno {
        grid-area: indexMainUno;
        justify-self: center;
        align-content: center;
        text-align: center;
        background-position: center bottom;
        background-position: left;
        padding: 200px;
        
    }

    #indexMainDos {
        grid-area: indexMainDos;
    }
}

#skillsMain {
    grid-area: skillsMain;
    height: 72.6vh;
    display: grid;
    grid-template-columns: 3fr 1,5fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "skillsMainUno skillsMainDos"
    "skillsMainUno skillsMainDos";

    #skillsMainUno {
        grid-area: skillsMainUno;
        padding: 10px;

        #unic   {
            background-color: black;
            cursor: pointer;
            border: none;
            padding: 16px 32px;
            color: antiquewhite;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            border-radius: 12px;
        }
        
        #unic ::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
            red,blue, deeppink, blue, red,blue, deeppink, blue);
        background-size: 800%;
        border-radius: 10px;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        
        }
        
       
    }
    
    #skillsMainDos {
        grid-area: skillsMainDos;
        padding: 30px;

        #skillsMainDos_img {
            width: 600px;
            height: 600px;
         }
    }
}

#serviciosMain {
    height: 100vh;
    grid-area: serviciosMain;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "serviciosMainUno serviciosMainUno"
    "serviciosMainDos serviciosMainDos";

    .contact-iconos {
        width: 70px;
        height: 80px;
        
    }

    #serviciosMainUno {
        grid-area: serviciosMainUno;
        padding: 10px;
        margin: 50px;
    }
    
    #serviciosMainDos {
        grid-area: serviciosMainDos;
        margin: 50px;
    }


        
}

#porfolioMain {
    grid-area: porfolioMain;
    height: 72.6vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "porfolioMainDos porfolioMainUno porfolioMainDos" 
    "porfolioMainDos porfolioMainUno porfolioMainDos";

    #porfolioMainUno {
        grid-area: porfolioMainUno;
        justify-self: end;
      }

      #porfolioMainDos {
        grid-area: porfolioMainDos;
      }
  }

  #contactMainUno {
    margin: 10px;
}

#contactMainDos {
    margin: 10px;
    padding: 8px;
    border: 5px solid black;
    width: fit-content;
    
}
  