// MOBILE
@media (min-width: 300px) and (max-width: 576px){
    #serviciosMain {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "skillsMainDos skillsMainUno ";
    }

    #skillsMain {
        grid-template-columns: 3fr 1,5fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: 
        "skillsMainUno skillsMainDos"
        "skillsMainUno skillsMainDos";
    }

    footer {
       
        grid-area: footer;

        grid-template-columns: 0.6fr 0.4fr;


        grid-template-areas: 
        "footer footerDos";
    }
}

@media screen and (max-width: 737.98px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: black;
  }

  .cerrar-menu {
    color: rgb(255, 255, 255);
  }

  .nav {
    opacity: 0;
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 66, 66, 0.925);
    padding: 2rem;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  
}



@media (min-width: 768px) and (max-width: 914px) {
    #indexImg {
        height: 350px;
    }
    .nombres_index {
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 0px) and (max-width: 575px) {
    #skillsMain {
      grid-area: skillsMain;
      height: 72.6vh;
      padding-top: 60px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "skillsMainUno "
      "skillsMainDos"
      "skillsMainTres ";
  
      #skillsMainUno {
          grid-area: skillsMainUno;
          padding: 30px;
  
          #programador {
              padding: 30px;
              margin: 10px;
              height: 200px;
              width: 150px;
              background-color: #636363;
              border-radius: 20px;
              height: fit-content;
              width: fit-content;
          
          }
      }
  
      #skillsMainDos {
          grid-area: skillsMainDos;
          padding: 10px;
  
          #unic   {
              background-color: black;
              cursor: pointer;
              border: none;
              padding: 16px 32px;
              color: antiquewhite;
              font-size: 24px;
              font-weight: bold;
              position: relative;
              border-radius: 12px;
              margin-top: 30px;
          }
          
          #unic ::before {
              content:"";
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              background: linear-gradient(45deg,
              red,blue, deeppink, blue, red,blue, deeppink, blue);
          background-size: 800%;
          border-radius: 10px;
          filter: blur(8px);
          animation: glowing 20s linear infinite;
          
          }
  
          #skillsCertificacion {
              display: flex;
              background-color: #636363;
              border-radius: 20px;
              height: fit-content;
              width: fit-content;
              padding: 15px;
          }
  
          #skillsIcono {
              gap: 10px;
          }
          
         
      }
      
      #skillsMainTres {
          grid-area: skillsMainTres;
          padding: 20px;
          margin-top: 30px;
          background-color: #636363;
              border-radius: 20px;
              height: fit-content;
              width: fit-content;
              padding-left: 45px;
  
          .imgSkills {
              width: 85px;
              height: 85px;
           }
      }
  }
    .nombres_index {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .contenedor_img {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 55px;
    }
    .index_img {
      width: 250px;
    }
    .centrar_carrusel img {
      width: 350px;
      height: auto;
    }
  }

